Repository PerformanceSuite/CommandCenter: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 70%

comment:
  layout: "header, diff, files"
  behavior: default

ignore:
  - "backend/tests/"
  - "frontend/src/__tests__/"
  - "e2e/tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/test_*.py"

flags:
  backend:
    paths:
      - backend/app/
  frontend:
    paths:
      - frontend/src/

fix(agent-framework): Fix E2B sandbox integration
  backend/cli/cc_agent.py
  backend/libs/agent_framework/sandbox.py
Due: none

feat(vislzr): Implement Phase 1 Foundation - cross-project federation and GraphCanvas
  .claude/sessions/2025-12-31-vislzr-phase1-foundation.md
  backend/alembic/versions/b1c2d3e4f5a6_add_cross_project_link_columns.py
  backend/app/models/graph.py
  backend/app/routers/graph.py
  backend/app/schemas/graph.py
  backend/app/services/graph_service.py
  frontend/package.json
  frontend/src/components/Graph/GraphCanvas.tsx
  frontend/src/components/Graph/GraphNodeTooltip.tsx
  frontend/src/components/Graph/index.ts
  frontend/src/hooks/useGraph.ts
  frontend/src/services/graphApi.ts
  frontend/src/types/graph.ts
Due: backend, frontend

feat(agent-framework): E2B sandbox integration with auto key discovery
  backend/libs/agent_framework/sandbox.py
Due: none

fix(backend): SQLite compatibility for migrations and multi-project auth bug
  backend/alembic/versions/a2d26e62e1f3_add_intelligence_integration_tables.py
  backend/alembic/versions/b1c2d3e4f5a6_add_cross_project_link_columns.py
  backend/alembic/versions/dfec56a5f500_merge_federation_and_user_projects.py
  backend/app/auth/project_context.py
Due: backend

feat(frontend): Add GraphCanvas demo page
  frontend/src/App.tsx
  frontend/src/components/GraphDemo/GraphDemoView.tsx
  frontend/src/components/common/Sidebar.tsx
Due: frontend

docs: Add session summary for VISLZR Phase 1 work
  .claude/sessions/2025-12-31-14-28-summary.md
Due: none

feat(vislzr): add query layer types for composable surface
  frontend/src/types/query.ts
Due: frontend

[backend-coder] Create a file called BOOTSTRAP_PR_TEST.md with: PR
  BOOTSTRAP_PR_TEST.md
Due: none

[backend-coder] Create a file called BOOTSTRAP_WORKS.md with: Boot
  BOOTSTRAP_WORKS.md
Due: none

feat(vislzr): add query parser for URL params
  frontend/src/lib/__tests__/queryParser.test.ts
  frontend/src/lib/queryParser.ts
  frontend/src/test-utils/setup.ts
Due: frontend

fix(sandbox): Use claude-code template and fix PR creation
  backend/libs/agent_framework/sandbox.py
Due: none

fix(vislzr): add type validation to query parser
  frontend/src/lib/__tests__/queryParser.test.ts
  frontend/src/lib/queryParser.ts
Due: frontend

[backend-coder] ## Task: Build Agent Persona API
  backend/app/models/__init__.py
  backend/app/models/agent_persona.py
  backend/app/schemas/__init__.py
  backend/app/schemas/agent_persona.py
Due: backend

feat(api): Add Agent Persona Management API
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/agent_persona.py
  backend/app/routers/agents.py
  backend/app/schemas/agent_persona.py
Due: backend

feat(api): Add Agent Persona Management API
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/agent_persona.py
  backend/app/routers/agents.py
Due: backend

feat(vislzr): add composition engine for layout determination
  frontend/src/lib/__tests__/compositionEngine.test.ts
  frontend/src/lib/compositionEngine.ts
Due: frontend

feat(api): Add Agent Persona Management API
  backend/app/models/__init__.py
  backend/app/models/agent_persona.py
  backend/app/schemas/__init__.py
  backend/app/schemas/agent_persona.py
  backend/app/services/agent_persona_service.py
Due: backend

feat(vislzr): add useQueryState hook for URL-driven queries
  frontend/src/hooks/useQueryState.ts
Due: frontend

feat(vislzr): add query result builder with affordances
  frontend/src/lib/queryResultBuilder.ts
Due: frontend

feat(vislzr): add affordance execution via API
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAffordances.ts
  frontend/src/services/actionApi.ts
Due: frontend

feat(vislzr): add preset save/load UI to QueryBar
  frontend/src/components/Graph/QueryBar.tsx
  frontend/src/components/Graph/index.ts
  frontend/src/hooks/usePresets.ts
  frontend/src/services/presetApi.ts
Due: frontend

chore: update package-lock.json
  frontend/package-lock.json
Due: none

feat(vislzr): integrate agent executions as graph entities
  backend/app/models/__init__.py
  backend/app/models/agent_execution.py
  backend/app/services/graph_service.py
Due: backend

feat(vislzr): add persona, workflow, execution as graph entity types
  backend/app/schemas/graph.py
  frontend/src/types/graph.ts
Due: backend, frontend

feat(vislzr): add affordance execution via API (#118)
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAffordances.ts
  frontend/src/services/actionApi.ts
Due: frontend

feat(vislzr): add preset save/load UI to QueryBar (#119)
  frontend/package-lock.json
  frontend/src/components/Graph/QueryBar.tsx
  frontend/src/components/Graph/index.ts
  frontend/src/hooks/usePresets.ts
  frontend/src/services/presetApi.ts
Due: frontend

feat(vislzr): add agent graph integration + composable entity types (#120)
  backend/app/models/__init__.py
  backend/app/models/agent_execution.py
  backend/app/schemas/graph.py
  backend/app/services/graph_service.py
  frontend/src/types/graph.ts
Due: backend, frontend

fix(vislzr): repair start_audit_result_consumer function definition
  backend/app/services/graph_service.py
Due: backend

feat(db): add agent_executions and agent_personas tables
  backend/alembic/versions/fd12cd853b12_add_agent_executions_table.py
Due: none

docs: add custom model training roadmap (nanochat-inspired)
  docs/plans/2026-01-01-custom-model-training-roadmap.md
Due: none

docs: mark Sprint 3 Agent Parity as complete
  docs/plans/2025-12-31-sprint3-completion.md
Due: none

docs: add Document Intelligence agent personas
  docs/plans/2026-01-01-document-intelligence-agents.md
Due: none

docs: Document Intelligence extraction batch 2
  docs/cleanup/2026-01-01-document-extraction-batch2.md
Due: none

docs: add Sprint 4 Real-time Subscriptions plan
  docs/plans/2026-01-01-sprint4-realtime-subscriptions.md
Due: none

docs: add Sprint 6 Document Intelligence to composable surface plan
  docs/plans/composable-surface-sprint-plan.md
Due: none

docs: create consolidated concept database
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/sse.py
  docs/cleanup/2026-01-01-document-extraction-batch3.md
  docs/cleanup/concept-database.yaml
  docs/plans/2026-01-01-sprint4-execution-plan.md
  docs/plans/2026-01-01-sprint4-realtime-subscriptions.md
Due: backend

feat: add Document Intelligence batch extraction script
  scripts/extract_document_intelligence.py
Due: none

feat(graph): emit NATS events on graph mutations
  backend/app/schemas/graph_events.py
  backend/app/services/graph_service.py
  docs/plans/2026-01-01-sprint4-realtime-subscriptions.md
Due: backend

feat(frontend): add useGraphSubscription SSE hook
  .claude/sessions/2025-12-31-20-30-summary.md
  docs/cleanup/extraction-results.yaml
  docs/cleanup/extraction-summary.yaml
  docs/plans/2026-01-01-sprint4-realtime-subscriptions.md
  frontend/src/components/Graph/GraphNodeTooltip.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useGraphSubscription.ts
  frontend/src/types/graph.ts
  frontend/src/types/graphEvents.ts
  scripts/run_extraction.sh
Due: frontend

feat(frontend): add useRealtimeGraph state manager
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRealtimeGraph.ts
Due: frontend
