Repository PerformanceSuite/CommandCenter: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 70%

comment:
  layout: "header, diff, files"
  behavior: default

ignore:
  - "backend/tests/"
  - "frontend/src/__tests__/"
  - "e2e/tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/test_*.py"

flags:
  backend:
    paths:
      - backend/app/
  frontend:
    paths:
      - frontend/src/

feat(ui): integrate real-time updates in GraphDemoView
  frontend/src/components/GraphDemo/GraphDemoView.tsx
Due: frontend

feat(sse): add subscription manager for monitoring
  backend/app/routers/sse.py
  backend/app/services/subscription_manager.py
Due: backend

docs: mark Sprint 4 Real-time Subscriptions complete
  docs/plans/2026-01-01-sprint4-realtime-subscriptions.md
  docs/plans/composable-surface-sprint-plan.md
Due: none

feat: batch extraction test - 5 docs, 48 concepts, 36 requirements
  docs/cleanup/batch-extraction-test.yaml
  docs/cleanup/extraction-results.yaml
  docs/cleanup/extraction-summary.yaml
  docs/cleanup/extraction.pid
  scripts/quick_extract.py
  scripts/run_extraction.sh
Due: none

docs: add session summary for Sprint 4 completion
  .claude/sessions/2025-12-31-21-45-summary.md
Due: none

docs: add session summary for smoke tests 2-5 completion
  .claude/sessions/2025-12-31-22-55-summary.md
Due: none

fix(orchestration): resolve agent JSON input parsing and add docker-compose
  hub/orchestration/agents/code-reviewer/index.ts
  hub/orchestration/agents/compliance-checker/index.ts
  hub/orchestration/agents/notifier/index.ts
  hub/orchestration/agents/patcher/index.ts
  hub/orchestration/agents/security-scanner/index.ts
  hub/orchestration/docker-compose.yml
  hub/orchestration/docs/PRODUCTION_READINESS.md
  hub/orchestration/src/dagger/executor.ts
Due: none

fix(agents): align security-scanner input schema with workflow usage
  hub/orchestration/agents/security-scanner/scanner.ts
  hub/orchestration/agents/security-scanner/schemas.ts
Due: none

feat: complete document intelligence extraction - 159 docs, 2565 concepts, 5006 requirements
  docs/cleanup/extraction-results.yaml
  docs/cleanup/extraction-summary.yaml
Due: none

fix(agents): align compliance-checker and code-reviewer schemas with workflows
  hub/orchestration/agents/code-reviewer/reviewer.ts
  hub/orchestration/agents/code-reviewer/schemas.ts
  hub/orchestration/agents/compliance-checker/checker.ts
  hub/orchestration/agents/compliance-checker/schemas.ts
Due: none

fix(agents): align patcher schema with workflow usage
  hub/orchestration/agents/patcher/patcher.ts
  hub/orchestration/agents/patcher/schemas.ts
Due: none

docs: update production readiness with all smoke tests passing
  hub/orchestration/docs/PRODUCTION_READINESS.md
Due: none

docs: add session summary for agent fixes and smoke test validation
  .claude/sessions/2026-01-01-18-50-summary.md
Due: none

feat(graph): add cross_project_links table for federation
  backend/alembic/versions/c1d2e3f4a5b6_add_cross_project_links.py
  backend/app/models/__init__.py
  backend/app/models/graph.py
Due: backend

test(graph): add CrossProjectLink model test
  backend/tests/test_models/test_cross_project_link.py
Due: none

feat(graph): add query_ecosystem_links for federation
  backend/app/services/graph_service.py
  backend/tests/test_services/test_graph_federation.py
Due: backend

feat(ws): add WebSocket subscription infrastructure
  backend/app/main.py
  backend/app/websocket/__init__.py
  backend/app/websocket/manager.py
  backend/tests/test_websocket/__init__.py
  backend/tests/test_websocket/test_subscriptions.py
Due: backend

docs: add 2026 Agentic Shift roadmap items
  docs/plans/2026-01-01-agentic-shift-analysis.md
  docs/plans/composable-surface-sprint-plan.md
Due: none

feat(ws): add NATS-to-WebSocket bridge
  backend/app/websocket/__init__.py
  backend/app/websocket/nats_bridge.py
  backend/tests/test_websocket/test_nats_bridge.py
Due: backend

feat(frontend): add WebSocket subscription hook
  frontend/src/__tests__/services/websocket.test.ts
  frontend/src/hooks/__tests__/useWebSocketSubscription.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWebSocketSubscription.ts
  frontend/src/services/websocket.ts
Due: frontend

feat(graph): add real-time subscription support to GraphCanvas
  frontend/src/components/Graph/GraphCanvas.tsx
  frontend/src/components/Graph/__tests__/GraphCanvas.realtime.test.tsx
  frontend/src/types/graph.ts
Due: frontend

docs: complete Phase 1 of Composable CommandCenter + execution plan
  backend/uv.lock
  docs/plans/2026-01-01-composable-commandcenter-execution.md
  docs/sessions/2026-01-01-19-35-summary.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/parallel-streams-2026-01-01/01-multi-tenant-fix.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/parallel-streams-2026-01-01/02-skills-foundation.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/parallel-streams-2026-01-01/03-alertmanager-deploy.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/parallel-streams-2026-01-01/04-doc-archival.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/parallel-streams-2026-01-01/README.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/parallel-streams-2026-01-01/run-all.sh
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/parallel-streams-2026-01-01/run-single.sh
Due: none

feat(skills): add Skill and SkillUsage models
  backend/alembic/versions/a1b2c3d4e5f6_add_skills_and_skill_usages_tables.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/skill.py
  backend/app/routers/__init__.py
  backend/app/routers/skills.py
  backend/app/schemas/skill.py
  backend/app/services/skill_service.py
  backend/tests/test_skills.py
Due: backend

fix: add NATS configuration and make migration idempotent
  .env.docker
  backend/alembic/versions/b1c2d3e4f5a6_add_cross_project_link_columns.py
  backend/app/config.py
Due: backend

docs: add session wrap summary for Phase 1 verification
  .claude/sessions/2026-01-01-20-15-summary.md
Due: none

feat(skills): add CommandCenter-native skills support (#121)
  backend/alembic/versions/a1b2c3d4e5f6_add_skills_and_skill_usages_tables.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/skill.py
  backend/app/routers/__init__.py
  backend/app/routers/skills.py
  backend/app/schemas/skill.py
  backend/app/services/skill_service.py
  backend/tests/test_skills.py
Due: backend

feat(query): add ComposedQuery schema
  backend/app/schemas/query.py
  backend/tests/unit/schemas/test_query_schemas.py
Due: backend

wip: query executor service
  backend/app/services/query_executor.py
  backend/tests/test_services/test_query_executor.py
Due: backend

feat(query): add IntentParser service
  backend/app/services/intent_parser.py
  backend/tests/test_services/test_intent_parser.py
Due: backend

feat(query): complete Phase 2 Query Layer Tasks 2.3-2.5
  .claude/sessions/2026-01-02-00-30-summary.md
  backend/app/routers/graph.py
  backend/tests/test_routers/test_graph_query.py
  frontend/src/components/Graph/QueryBar.tsx
  frontend/src/components/Graph/__tests__/QueryBar.test.tsx
  frontend/src/services/queryApi.ts
Due: backend, frontend

feat(agent): complete Phase 3 Agent Parity (Tasks 3.1-3.4)
  backend/app/main.py
  backend/app/routers/actions.py
  backend/app/routers/graph.py
  backend/app/schemas/query.py
  backend/app/services/action_executor.py
  backend/app/services/affordance_generator.py
  backend/app/services/query_executor.py
  backend/tests/test_routers/test_actions.py
  backend/tests/test_routers/test_graph_query.py
  backend/tests/test_schemas/__init__.py
  backend/tests/test_schemas/test_affordances.py
  backend/tests/test_services/test_affordance_generator.py
Due: backend

docs: add session summary for Phase 3 completion
  .claude/sessions/2026-01-02-04-58-summary.md
Due: none

docs(agent-sandboxes): update terminology and fix CLI documentation
  tools/agent-sandboxes/.claude/commands/prime_obox.md
  tools/agent-sandboxes/README.md
  tools/agent-sandboxes/apps/sandbox_workflows/README.md
  tools/agent-sandboxes/apps/sandbox_workflows/pyproject.toml
  tools/agent-sandboxes/apps/sandbox_workflows/src/commands/sandbox_fork.py
  tools/agent-sandboxes/apps/sandbox_workflows/src/main.py
Due: none

feat(query): add Phase 4 temporal query support (Task 4.1)
  backend/app/models/project.py
  backend/app/routers/graph.py
  backend/app/schemas/query.py
  backend/app/services/query_executor.py
  backend/app/services/temporal_resolver.py
  backend/tests/test_services/test_temporal_queries.py
Due: backend

docs: add session summary for Phase 4.1 completion
  .claude/sessions/2026-01-02-06-00-summary.md
Due: none

fix(tests): update skills tests to use authenticated_client fixture
  backend/tests/conftest.py
  backend/tests/test_skills.py
Due: none

docs(session): add session summary for Skills API testing
  backend/.claude/sessions/2026-01-02-05-35-summary.md
Due: none
