Repository PerformanceSuite/CommandCenter: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: Add cost statistics and fix project browser paths
  backend/libs/llm_gateway/metrics.py
  hub/backend/app/routers/filesystem.py
  hub/docker-compose.yml
  hub/frontend/src/components/FolderBrowser.tsx
Due: none

refactor: Move AI Arena from hub frontend to main frontend
  frontend/src/App.tsx
  frontend/src/components/AIArena/AIArenaView.tsx
  frontend/src/components/AIArena/DebateViewer.tsx
  frontend/src/components/AIArena/EvidenceExplorer.tsx
  frontend/src/components/AIArena/HypothesisCard.tsx
  frontend/src/components/AIArena/HypothesisDashboard.tsx
  frontend/src/components/AIArena/HypothesisQuickInput.tsx
  frontend/src/components/AIArena/StatsBar.tsx
  frontend/src/components/AIArena/ValidationModal.tsx
  frontend/src/components/AIArena/index.tsx
  frontend/src/components/common/Sidebar.tsx
  frontend/src/services/hypothesesApi.ts
  frontend/src/types/hypothesis.ts
  hub/frontend/src/App.tsx
Due: frontend

docs: Update documentation for AI Arena, Settings, and LLM Gateway
  AGENTS.md
  CLAUDE.md
  README.md
  docs/CAPABILITIES.md
Due: none

docs: Add AI Arena + Research Hub integration plan
  docs/plans/2025-12-30-ai-arena-research-hub-integration.md
Due: none

docs: Add Research Hub Intelligence Integration design
  docs/plans/2025-12-30-research-hub-intelligence-integration-design.md
Due: none

feat: Add Research Hub Intelligence Integration (Phases 1-2)
  backend/alembic/versions/a2d26e62e1f3_add_intelligence_integration_tables.py
  backend/app/models/__init__.py
  backend/app/models/debate.py
  backend/app/models/evidence.py
  backend/app/models/hypothesis.py
  backend/app/models/project.py
  backend/app/models/research_finding.py
  backend/app/models/research_task.py
  backend/app/repositories/__init__.py
  backend/app/repositories/intelligence_repository.py
  backend/app/schemas/__init__.py
  backend/app/schemas/intelligence.py
  backend/app/services/hypothesis_crud_service.py
  backend/app/services/intelligence_kb_service.py
  backend/app/services/intelligence_service.py
Due: backend

feat: Complete Research Hub Intelligence Integration (Phases 3-8)
  backend/app/main.py
  backend/app/repositories/intelligence_repository.py
  backend/app/routers/intelligence.py
  frontend/src/App.tsx
  frontend/src/components/AIArena/AIArenaView.tsx
  frontend/src/components/AIArena/DebateViewer.tsx
  frontend/src/components/AIArena/EvidenceExplorer.tsx
  frontend/src/components/AIArena/HypothesisCard.tsx
  frontend/src/components/AIArena/HypothesisDashboard.tsx
  frontend/src/components/AIArena/HypothesisQuickInput.tsx
  frontend/src/components/AIArena/StatsBar.tsx
  frontend/src/components/AIArena/index.tsx
  frontend/src/components/ResearchHub/IntelligenceTab.tsx
  frontend/src/components/ResearchHub/ResearchHubView.tsx
  frontend/src/components/ResearchHub/hypotheses/DebateViewer.tsx
  frontend/src/components/ResearchHub/hypotheses/HypothesisCard.tsx
  frontend/src/components/ResearchHub/hypotheses/HypothesisCreateForm.tsx
  frontend/src/components/ResearchHub/hypotheses/HypothesisSection.tsx
  frontend/src/components/ResearchHub/hypotheses/ValidationModal.tsx
  frontend/src/components/ResearchHub/hypotheses/index.ts
  frontend/src/components/common/Sidebar.tsx
  frontend/src/services/intelligenceApi.ts
Due: backend, frontend

fix(docker): Fix database connection and idempotent migrations
  backend/alembic/versions/a2d26e62e1f3_add_intelligence_integration_tables.py
  backend/app/config.py
Due: backend

feat(research-hub): Add Hypotheses tab to Research Task Modal
  frontend/src/components/ResearchHub/ResearchTaskModal.tsx
Due: frontend

refactor(hub): Remove AI Arena components from Hub
  hub/frontend/src/App.tsx
  hub/frontend/src/components/ApprovalBadge/ApprovalBadge.tsx
  hub/frontend/src/components/ApprovalBadge/index.tsx
  hub/frontend/src/components/ApprovalQueue/ApprovalCard.tsx
  hub/frontend/src/components/ApprovalQueue/ApprovalDetail.tsx
  hub/frontend/src/components/ApprovalQueue/ApprovalQueue.tsx
  hub/frontend/src/components/ApprovalQueue/index.tsx
  hub/frontend/src/components/SettingsDashboard.tsx
  hub/frontend/src/components/WorkflowBuilder/AgentPalette.tsx
  hub/frontend/src/components/WorkflowBuilder/NodeConfigPanel.tsx
  hub/frontend/src/components/WorkflowBuilder/WorkflowBuilder.tsx
  hub/frontend/src/components/WorkflowBuilder/index.tsx
  hub/frontend/src/components/WorkflowBuilder/nodes/AgentNode.tsx
  hub/frontend/src/components/WorkflowBuilder/types.ts
  hub/frontend/src/components/WorkflowExecutionMonitor/AgentRunCard.tsx
  hub/frontend/src/components/WorkflowExecutionMonitor/RunCard.tsx
  hub/frontend/src/components/WorkflowExecutionMonitor/RunDetail.tsx
  hub/frontend/src/components/WorkflowExecutionMonitor/WorkflowExecutionMonitor.tsx
  hub/frontend/src/components/WorkflowExecutionMonitor/index.tsx
  hub/frontend/src/hooks/useAgents.ts
  hub/frontend/src/hooks/useApprovals.ts
  hub/frontend/src/hooks/useWorkflowRuns.ts
  hub/frontend/src/hooks/useWorkflows.ts
  hub/frontend/src/pages/SettingsPage.tsx
  hub/frontend/src/pages/WorkflowsPage.tsx
  hub/frontend/src/services/settingsApi.ts
  hub/frontend/src/types/settings.ts
Due: none

feat(research-hub): Add Workflows and Settings tabs
  frontend/src/components/ResearchHub/ResearchHubSettings.tsx
  frontend/src/components/ResearchHub/ResearchHubView.tsx
  frontend/src/components/ResearchHub/WorkflowsTab.tsx
Due: frontend

fix(docker): Fix build contexts for celery-beat and flower services
  docker-compose.yml
Due: none

fix(models): Correct back_populates reference in ResearchFinding
  backend/app/models/research_finding.py
Due: backend

fix(tasks): Fix broken import in webhook_tasks
  backend/app/tasks/webhook_tasks.py
Due: backend

fix(services): Fix repository instantiation and db passing pattern
  STATUS_LOG.md
  backend/app/repositories/repository_repository.py
  backend/app/repositories/technology_repository.py
  backend/app/services/hypothesis_crud_service.py
  backend/app/services/intelligence_service.py
  backend/app/services/repository_service.py
  backend/app/services/research_service.py
  backend/app/services/research_task_service.py
  backend/app/services/technology_service.py
Due: backend

Add comprehensive frontend assessment audit
  docs/audits/2025-12-30-frontend-assessment.md
Due: none

Add comprehensive backend assessment for 2025-12-30
  docs/audits/2025-12-30-backend-assessment.md
Due: none

docs: Add comprehensive documentation assessment for 2025-12-30
  docs/audits/2025-12-30-documentation-assessment.md
Due: none

Add comprehensive infrastructure assessment (2025-12-30)
  docs/audits/2025-12-30-infrastructure-assessment.md
Due: none

Add comprehensive testing assessment for 2025-12-30
  docs/audits/2025-12-30-testing-assessment.md
Due: none

Add comprehensive frontend assessment audit (#110)
  docs/audits/2025-12-30-frontend-assessment.md
Due: none

Add comprehensive backend assessment for 2025-12-30 (#111)
  docs/audits/2025-12-30-backend-assessment.md
Due: none

docs: Add comprehensive documentation assessment for 2025-12-30 (#112)
  docs/audits/2025-12-30-documentation-assessment.md
Due: none

Add comprehensive infrastructure assessment (2025-12-30) (#113)
  docs/audits/2025-12-30-infrastructure-assessment.md
Due: none

Add comprehensive testing assessment for 2025-12-30 (#114)
  docs/audits/2025-12-30-testing-assessment.md
Due: none

Add comprehensive health report synthesizing 5 assessment analyses
  docs/audits/2025-12-30-COMPREHENSIVE-HEALTH-REPORT.md
Due: none

Add comprehensive health report synthesizing 5 assessment analyses (#115)
  docs/audits/2025-12-30-COMPREHENSIVE-HEALTH-REPORT.md
Due: none

feat(monitoring): Deploy AlertManager and connect to Prometheus
  backend/app/main.py
  backend/app/routers/alerts.py
  docker-compose.prod.yml
  docker-compose.yml
  monitoring/alertmanager.yml
  monitoring/prometheus.yml
Due: backend

Implement multi-tenant isolation with UserProject model
  backend/alembic/versions/015_add_user_projects.py
  backend/app/auth/project_context.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/user.py
  backend/app/models/user_project.py
  backend/app/services/user_project_service.py
  backend/tests/security/test_multitenant_isolation.py
Due: backend

docs(plan): Add Unified Agent Framework plan
  AGENTS.md
  docs/plans/2025-12-31-e2b-full-integration.md
  docs/plans/2025-12-31-unified-agent-framework.md
Due: none

docs(plan): Add Verification Workflows & Agent Management UI plan
  docs/plans/2025-12-31-verification-workflows-agent-management.md
Due: none

docs(plan): Add Bootstrap Implementation Plan - 7hr agent self-build foundation
  docs/plans/2025-12-31-bootstrap-implementation.md
Due: none

feat(agent-framework): Add Prompt Improver - Bootstrap Component 1
  backend/app/auth/dependencies.py
  backend/app/database.py
  backend/app/main.py
  backend/app/routers/prompts.py
  backend/libs/agent_framework/__init__.py
  backend/libs/agent_framework/prompt_improver.py
  backend/tests/unit/test_prompt_improver.py
Due: backend

fix(agent-framework): Fix prompt improver tests and add missing dependencies
  backend/libs/agent_framework/__init__.py
  backend/tests/unit/test_prompt_improver.py
Due: none

docs(design): Add Composable CommandCenter architecture design
  backend/libs/agent_framework/__init__.py
  docs/plans/2025-01-01-composable-commandcenter-design.md
Due: none

workflow(session): Add /wrap command and session summary system
  .claude/commands/wrap.md
  .claude/sessions/2025-01-01-vislzr-composability-session.md
Due: none

feat(agent-framework): Add Persona Store - Bootstrap Component 2
  backend/libs/agent_framework/persona_store.py
  backend/libs/agent_framework/personas/arbiter.yaml
  backend/libs/agent_framework/personas/backend-coder.yaml
  backend/libs/agent_framework/personas/challenger.yaml
  backend/libs/agent_framework/personas/frontend-coder.yaml
  backend/libs/agent_framework/personas/reviewer.yaml
  backend/tests/unit/test_persona_store.py
Due: none

feat(agent-framework): Add Agent Executor + E2B Sandbox - Bootstrap Component 3
  backend/libs/agent_framework/executor.py
  backend/libs/agent_framework/sandbox.py
Due: none

feat(agent-framework): Add CLI Runner - Bootstrap Component 4
  backend/cli/__init__.py
  backend/cli/cc_agent.py
Due: none

Path conditions:
  backend: any of: backend/app/, but not: backend/tests/, frontend/src/__tests__/, e2e/tests/, **/*.test.ts, **/*.test.tsx, **/test_*.py
  frontend: any of: frontend/src/, but not: backend/tests/, frontend/src/__tests__/, e2e/tests/, **/*.test.ts, **/*.test.tsx, **/test_*.py
