Repository PerformanceSuite/CommandCenter: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 70%

comment:
  layout: "header, diff, files"
  behavior: default

ignore:
  - "backend/tests/"
  - "frontend/src/__tests__/"
  - "e2e/tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/test_*.py"

flags:
  backend:
    paths:
      - backend/app/
  frontend:
    paths:
      - frontend/src/

fix: add SSRF protection and missing dependency to documentation scraper
  backend/app/services/documentation_scraper_service.py
  backend/app/tasks/ingestion_tasks.py
  backend/requirements.txt
  backend/tests/services/test_documentation_scraper_service.py
Due: backend

feat: add webhook receivers for knowledge ingestion
  backend/app/main.py
  backend/app/routers/webhooks_ingestion.py
  backend/app/tasks/ingestion_tasks.py
  backend/tests/integration/test_webhook_ingestion.py
Due: backend

fix: add API key validation and complete test coverage for webhooks
  backend/app/routers/webhooks_ingestion.py
  backend/tests/conftest.py
  backend/tests/integration/test_webhook_ingestion.py
Due: backend

feat: add file system watcher for document ingestion
  backend/app/services/file_watcher_service.py
  backend/app/tasks/ingestion_tasks.py
  backend/requirements.txt
  backend/tests/integration/test_file_watcher_ingestion.py
  backend/tests/services/test_file_watcher_service.py
Due: backend

fix: add path validation and file size limits to file watcher
  backend/app/services/file_watcher_service.py
  backend/app/tasks/ingestion_tasks.py
  backend/tests/services/test_file_watcher_service.py
Due: backend

feat: add ingestion sources management API
  backend/app/main.py
  backend/app/routers/ingestion_sources.py
  backend/tests/integration/test_ingestion_sources_api.py
Due: backend

docs: add Phase B knowledge ingestion implementation plan
  docs/plans/2025-10-30-phase-b-knowledge-ingestion-plan.md
Due: none

docs: document Phase B completion and next steps
  docs/CURRENT_SESSION.md
Due: none

fix: address code review feedback
  backend/app/models/ingestion_source.py
  backend/app/schemas/ingestion.py
  backend/app/services/file_watcher_service.py
  backend/app/tasks/ingestion_tasks.py
Due: backend

chore: End session - USS cleanup and documentation
  .claude/memory.md
  docs/CURRENT_SESSION.md
  docs/PROJECT.md
Due: none

fix: resolve CI/CD failures - dependency conflicts and TypeScript errors
  backend/requirements.txt
  frontend/src/components/Projects/ProjectsView.tsx
  frontend/src/components/ResearchHub/ResearchTaskModal.tsx
  frontend/src/components/TechnologyRadar/MatrixView.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/test-utils/mocks.ts
  frontend/src/test-utils/setup.ts
Due: frontend

fix: use const instead of let for immutable variables in MatrixView
  frontend/src/components/TechnologyRadar/MatrixView.tsx
Due: frontend

fix: upgrade safety to 3.0+ for packaging>=22.0 compatibility
  backend/requirements-dev.txt
Due: none

docs: session 2025-10-31 - PR #63 CI/CD fixes and test investigation
  .claude/memory.md
Due: none

fix: update test mocks to match pagination API contract
  frontend/src/__tests__/hooks/useRepositories.test.ts
  frontend/src/hooks/__tests__/useTechnologies.test.ts
Due: none

docs: comprehensive README update - vision, roadmap, and capabilities
  README.md
Due: none

docs: rewrite README with full vision - Personal AI Operating System
  README.md
Due: none

chore: trigger CI/CD - queue cleared
  docs/mrktzr-integration/01_STRATEGY/CommandCenter_Improvements.md
  docs/mrktzr-integration/01_STRATEGY/Integration_Concept.md
  docs/mrktzr-integration/01_STRATEGY/MRKTZR_Improvements.md
  docs/mrktzr-integration/02_TECH_BLUEPRINT/AsyncAPI.yaml
  docs/mrktzr-integration/02_TECH_BLUEPRINT/Integration_Architecture.md
  docs/mrktzr-integration/02_TECH_BLUEPRINT/Integration_Architecture.mmd
  docs/mrktzr-integration/02_TECH_BLUEPRINT/OpenAPI.yaml
  docs/mrktzr-integration/02_TECH_BLUEPRINT/Schema_and_APIs.md
  docs/mrktzr-integration/02_TECH_BLUEPRINT/Security_Model.md
  docs/mrktzr-integration/02_TECH_BLUEPRINT/Shared_Infra_Plan.md
  docs/mrktzr-integration/03_ROADMAP/KPIs_and_Metrics.md
  docs/mrktzr-integration/03_ROADMAP/Milestones_Timeline.md
  docs/mrktzr-integration/03_ROADMAP/Phase_Plan.md
  docs/mrktzr-integration/03_ROADMAP/Team_Roles_and_Ownership.md
  docs/mrktzr-integration/04_AGENTIC_AUTOMATION/Feedback_Loop_Design.md
  docs/mrktzr-integration/04_AGENTIC_AUTOMATION/LLM_Agent_Design.md
  docs/mrktzr-integration/04_AGENTIC_AUTOMATION/Prompt_Orchestration.md
  docs/mrktzr-integration/05_APPENDIX/Credits_and_Attributions.md
  docs/mrktzr-integration/05_APPENDIX/Future_Opportunities.md
  docs/mrktzr-integration/05_APPENDIX/Technology_Stack_Comparison.md
  docs/mrktzr-integration/README.md
  docs/mrktzr-integration/VALIDATE.md
  docs/mrktzr-integration/install_mrktzr_integration.sh
Due: none

fix: CI/CD failures - Docker Compose V2 + frontend smoke test
  .github/workflows/ci.yml
  .github/workflows/test-docker.yml
  frontend/src/__tests__/components/TechnologyRadar.test.tsx
Due: none

fix: Docker tests - replace Jest --watchAll with Vitest --run
  docker-compose.test.yml
Due: none

fix: CI/CD performance - remove redundant tests + add timeouts
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  backend/requirements-dev.txt
Due: none

fix: Frontend test failures - API signature mismatches
  docs/Makefile
  docs/README.md
  docs/commandcenter-solana-v1.bundle.tar.gz
  docs/commandcenter-solana-v1/README.md
  docs/commandcenter-solana-v1/config/commandcenter_solana.env
  docs/commandcenter-solana-v1/config/env.template
  docs/commandcenter-solana-v1/config/rpc_endpoints.list
  docs/commandcenter-solana-v1/docs/solana_ai_convergence.md
  docs/commandcenter-solana-v1/docs/solana_commandcenter_architecture.drawio
  docs/commandcenter-solana-v1/docs/solana_overview.md
  docs/commandcenter-solana-v1/docs/solana_regulatory_framework.md
  docs/commandcenter-solana-v1/integration/solana_blueprint.md
  docs/commandcenter-solana-v1/integration/solana_integration_plan.md
  docs/commandcenter-solana-v1/integration/solana_monitoring_agent.yaml
  docs/commandcenter-solana-v1/integration/solana_rpcs_config.json
  docs/commandcenter-solana-v1/integration/solana_rpcs_config.json.bak
  docs/commandcenter-solana-v1/integration/solana_veria_adapter.py
  docs/commandcenter-solana-v1/integration/verify_solana_connection.sh
  docs/commandcenter-solana-v1/scripts/build_bundle.sh
  docs/commandcenter-solana-v1/scripts/deploy_to_commandcenter.sh
  docs/commandcenter-solana-v1/scripts/update_solana_nodes.sh
  docs/make_bundle.sh
  frontend/src/__tests__/components/Dashboard.test.tsx
  frontend/src/__tests__/components/ErrorBoundary.test.tsx
  frontend/src/__tests__/components/RepoSelector.test.tsx
  frontend/src/__tests__/hooks/useKnowledge.test.ts
  frontend/src/__tests__/services/api.test.ts
Due: none

fix: Docker test failures - build context and volume conflicts
  backend/Dockerfile.test
  docker-compose.test.yml
Due: none

fix: Docker backend tests - install knowledgebeast dependencies first
  backend/Dockerfile.test
Due: none

fix: Migrate scrapers to async I/O to prevent event loop blocking
  backend/app/services/documentation_scraper_service.py
  backend/app/services/feed_scraper_service.py
  backend/app/tasks/ingestion_tasks.py
  backend/requirements.txt
Due: backend

refactor: Upgrade newspaper3k to newspaper4k (maintained fork)
  backend/requirements.txt
Due: none

docs: Add comprehensive next session plan for PR #63 merge
  docs/NEXT_SESSION_PLAN.md
Due: none

chore: End session - USS cleanup and documentation
  .claude/memory.md
  docs/PROJECT.md
Due: none

style: Fix remaining Black formatting issue
  backend/app/middleware/security_headers.py
Due: backend

style: Fix Black formatting in ai_router.py
  backend/app/services/ai_router.py
Due: backend

fix: Remove unused imports to pass Flake8 linting
  backend/app/integrations/github_integration.py
  backend/app/routers/export.py
Due: backend

fix: Restore Black formatting after autoflake cleanup
  backend/app/config_optimized.py
  backend/app/database.py
  backend/app/exporters/__init__.py
  backend/app/integrations/base.py
  backend/app/schemas/project.py
  backend/app/schemas/repository.py
  backend/app/schemas/research.py
  backend/app/schemas/technology.py
Due: backend

fix: Resolve critical Flake8 linting errors
  backend/app/exporters/csv.py
  backend/app/exporters/html.py
  backend/app/mcp/providers/commandcenter_prompts.py
  backend/app/mcp/providers/commandcenter_resources.py
  backend/app/models/ingestion_source.py
  backend/app/models/integration.py
  backend/app/models/job.py
  backend/app/models/knowledge_entry.py
  backend/app/models/repository.py
  backend/app/models/research_task.py
Due: backend

chore: End session - USS cleanup and documentation
  backend/docs/TEST_VERIFICATION.md
Due: none

chore: Update session documentation and memory
  .claude/memory.md
  docs/PROJECT.md
Due: none

fix: Resolve Flake8 linting errors in task modules
  backend/app/tasks/scheduled_tasks.py
  backend/app/tasks/webhook_tasks.py
Due: backend

ci: Make MyPy type checking non-blocking
  .github/workflows/ci.yml
Due: none
