Repository PerformanceSuite/CommandCenter: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: Add Week 3 testing documentation implementation plan
  docs/plans/2025-10-29-week3-docs-implementation.md
Due: none

fix: Address code review feedback for PR #59
  docs/plans/2025-10-29-week3-pyramid-implementation.md
  e2e/tests/critical-flows.spec.ts
  frontend/src/__tests__/hooks/useKnowledge.test.ts
Due: none

docs: Address code review feedback for PR #61
  docs/TESTING_QUICKSTART.md
  docs/TESTING_STRATEGY.md
Due: none

Week 3 Track 3: Testing Documentation (#61)
  .codecov.yml
  README.md
  backend/requirements.txt
  backend/tests/conftest.py
  docs/CONTRIBUTING.md
  docs/TESTING_QUICKSTART.md
  docs/TESTING_STRATEGY.md
  docs/plans/2025-10-29-week3-docs-implementation.md
Due: none

fix: Resolve ESLint errors to unblock CI (#62)
  frontend/src/__tests__/components/Dashboard.test.tsx
  frontend/src/__tests__/components/RepoSelector.test.tsx
  frontend/src/__tests__/components/TechnologyRadar.test.tsx
  frontend/src/__tests__/services/api.test.ts
  frontend/src/tests/setup.ts
  frontend/vite.config.optimized.ts
Due: frontend

docs: Add Veria ecosystem integration roadmap
  docs/plans/2025-10-29-ecosystem-integration-roadmap.md
Due: none

chore: End session - USS cleanup and documentation
  .claude/memory.md
  docs/AGENTS.md
  docs/CURRENT_SESSION.md
  docs/PROJECT.md
Due: none

fix: Remove unused variables to resolve ESLint errors
  frontend/src/test-utils/setup.ts
  frontend/src/tests/setup.ts
  frontend/vite.config.optimized.ts
Due: frontend

feat: Add type safety to API client (api.ts)
  frontend/src/services/api.ts
  frontend/src/types/dashboard.ts
  frontend/src/types/knowledge.ts
Due: frontend

feat: Implement frontend TODOs (navigation & dependencies UI)
  frontend/src/components/KnowledgeBase/KnowledgeView.tsx
  frontend/src/components/TechnologyRadar/TechnologyForm.tsx
Due: frontend

feat: Implement backend TODOs (AI summary & security docs)
  backend/app/services/research_agent_orchestrator.py
  backend/app/services/technology_service.py
Due: backend

chore: End session - USS cleanup and documentation
  .claude/memory.md
  docs/CURRENT_SESSION.md
  docs/PROJECT.md
Due: none

fix: Achieve ESLint zero-warning compliance (#62)
  frontend/src/__tests__/integration/ComponentApi.test.tsx
  frontend/src/__tests__/integration/ContextProviders.test.tsx
  frontend/src/__tests__/services/api.test.ts
  frontend/src/components/Dashboard/StatusChart.tsx
  frontend/src/components/Projects/ProjectsView.tsx
  frontend/src/components/ResearchHub/CustomAgentLauncher.tsx
  frontend/src/components/ResearchHub/ResearchSummary.tsx
  frontend/src/components/ResearchHub/ResearchTaskList.tsx
  frontend/src/components/ResearchHub/ResearchTaskModal.tsx
  frontend/src/components/ResearchHub/TechnologyDeepDiveForm.tsx
  frontend/src/components/ResearchHub/__tests__/ResearchSummary.test.tsx
  frontend/src/components/ResearchHub/__tests__/ResearchTaskList.test.tsx
  frontend/src/components/TechnologyRadar/MatrixView.tsx
  frontend/src/components/TechnologyRadar/TechnologyCard.tsx
  frontend/src/components/TechnologyRadar/TechnologyForm.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/main.tsx
  frontend/src/services/researchApi.ts
  frontend/src/test-utils/mocks.ts
  frontend/src/test-utils/setup.ts
  frontend/src/test-utils/test-utils.tsx
  frontend/src/tests/setup.ts
  frontend/src/tests/utils.tsx
  frontend/src/types/research.ts
  frontend/src/types/researchTask.ts
  frontend/src/utils/dataTransform.ts
Due: frontend

wip: Partial fix for test mock issues after type safety changes
  docs/KNOWN_ISSUES.md
  frontend/src/components/ResearchHub/__tests__/ResearchSummary.test.tsx
  frontend/src/components/ResearchHub/__tests__/ResearchTaskList.test.tsx
Due: none

docs: Update PROJECT.md with current session status
  docs/PROJECT.md
Due: none

chore: End session - USS cleanup and documentation
  .claude/memory.md
Due: none

docs: Update CURRENT_SESSION.md for session end
  docs/CURRENT_SESSION.md
Due: none

chore: End session - USS cleanup and hygiene verification
  docs/CURRENT_SESSION.md
Due: none

feat: add useResearchSummary hook with tests
  frontend/src/__tests__/hooks/useResearchSummary.test.ts
  frontend/src/hooks/useResearchSummary.ts
Due: frontend

refactor: eliminate duplicate logic in useResearchSummary
  frontend/src/hooks/useResearchSummary.ts
Due: frontend

refactor: use useResearchSummary hook in component
  frontend/src/components/ResearchHub/ResearchSummary.tsx
Due: frontend

test: refactor ResearchSummary tests to mock hook
  frontend/src/components/ResearchHub/__tests__/ResearchSummary.test.tsx
Due: none

feat: add useResearchTaskList hook with tests
  frontend/src/__tests__/hooks/useResearchTaskList.test.ts
  frontend/src/hooks/useResearchTaskList.ts
Due: frontend

fix: resolve stale closure and error handling in useResearchTaskList
  frontend/src/hooks/useResearchTaskList.ts
Due: frontend

refactor: use useResearchTaskList hook in component
  frontend/src/components/ResearchHub/ResearchTaskList.tsx
Due: frontend

fix: remove unused removeTask variable
  frontend/src/components/ResearchHub/ResearchTaskList.tsx
Due: frontend

test: refactor ResearchTaskList tests to mock hook
  frontend/src/components/ResearchHub/__tests__/ResearchTaskList.test.tsx
Due: none

chore: verify all 28 research component tests now passing
  docs/Ideas/Best_Practices_Ideas
  docs/plans/2025-10-29-commandcenter-habit-coach-feature-request.md
  docs/plans/2025-10-29-extract-research-hooks-fix-tests.md
Due: none

fix: add refreshTasks to useEffect dependencies
  frontend/src/hooks/useResearchTaskList.ts
Due: frontend

chore: End session - USS cleanup and documentation
  .claude/memory.md
  docs/CURRENT_SESSION.md
  docs/plans/2025-10-29-phase-a-dagger-hardening-plan.md
  docs/plans/2025-10-29-production-foundations-design.md
Due: none

chore: End session - USS cleanup and documentation
  .claude/memory.md
  docs/CURRENT_SESSION.md
Due: none

feat: add IngestionSource model for automated knowledge ingestion
  backend/alembic/versions/014_add_ingestion_sources.py
  backend/app/models/__init__.py
  backend/app/models/ingestion_source.py
  backend/app/models/project.py
  backend/app/schemas/__init__.py
  backend/app/schemas/ingestion.py
  backend/tests/conftest.py
  backend/tests/integration/test_ingestion_source_model.py
Due: backend

feat: add RSS feed scraper service and ingestion task
  backend/app/services/feed_scraper_service.py
  backend/app/tasks/__init__.py
  backend/app/tasks/ingestion_tasks.py
  backend/requirements.txt
  backend/tests/integration/test_rss_ingestion.py
  backend/tests/services/test_feed_scraper_service.py
Due: backend

fix: correct RAG service integration in RSS ingestion task
  backend/app/tasks/ingestion_tasks.py
Due: backend

feat: add documentation scraper service
  backend/app/services/documentation_scraper_service.py
  backend/app/tasks/ingestion_tasks.py
  backend/tests/integration/test_documentation_ingestion.py
  backend/tests/services/test_documentation_scraper_service.py
Due: backend

Path conditions:
  backend: any of: backend/app/, but not: backend/tests/, frontend/src/__tests__/, e2e/tests/, **/*.test.ts, **/*.test.tsx, **/test_*.py
  frontend: any of: frontend/src/, but not: backend/tests/, frontend/src/__tests__/, e2e/tests/, **/*.test.ts, **/*.test.tsx, **/test_*.py
