Repository PerformanceSuite/CommandCenter: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(plan): accelerated dev plan - verification-first approach
  docs/plans/2026-01-02-accelerated-dev-plan.md
Due: none

docs(plan): add verification test cases for agent capability
  docs/plans/2026-01-02-verification-tests.md
Due: none

docs(plan): bite-sized task queue pattern for parallel agents
  docs/plans/2026-01-02-task-queue.md
Due: none

fix(sandbox): use absolute path to uv in MCP config
  tools/agent-sandboxes/apps/sandbox_agent_working_dir/.mcp.json
Due: none

Add docstring to format_api_response helper function
  backend/app/main.py
Due: backend

feat(graph): add Document Intelligence entity types and orchestration pipeline
  backend/.claude/sessions/2026-01-02-11-45-summary.md
  backend/alembic/versions/doc1nt3ll001_add_document_intelligence_entities.py
  backend/app/models/graph.py
  backend/app/schemas/graph.py
  backend/libs/agent_framework/__init__.py
  backend/libs/agent_framework/pipeline.py
  backend/libs/agent_framework/pipelines/document-intelligence.yaml
Due: backend

Refactor FastAPI app creation into create_app factory function with comprehensive docstring
  backend/app/main.py
Due: backend

feat(knowledgebeast): add document-intelligence template for Document Intelligence pipeline
  libs/knowledgebeast/knowledgebeast/templates/__init__.py
Due: none

fix(migration): make Document Intelligence migration SQLite-compatible
  backend/alembic/versions/doc1nt3ll001_add_document_intelligence_entities.py
Due: none

feat(graph): implement ingest_document_intelligence action
  backend/app/schemas/graph.py
  backend/app/services/graph_service.py
Due: backend

feat(api): add POST /api/v1/graph/document-intelligence/ingest endpoint
  backend/app/routers/graph.py
Due: backend

feat: move skills into CommandCenter repo
  skills/agent-sandboxes/SKILL.md
  skills/autonomy/SKILL.md
  skills/context-management/SKILL.md
  skills/infrastructure-decisions/SKILL.md
  skills/project-health/SKILL.md
  skills/repository-hygiene/SKILL.md
Due: none

docs(plan): local worktree agents - replace GitHub clone with worktrees
  docs/plans/2026-01-02-local-worktree-agents.md
Due: none

test(graph): add integration tests for document intelligence ingest
  backend/app/schemas/graph.py
  backend/tests/integration/test_document_intelligence_ingest.py
Due: backend

docs(skill): add skills location info for E2B agents
  skills/agent-sandboxes/SKILL.md
Due: none

style: fix linting issues across app directory
  backend/app/models/agent_execution.py
  backend/app/models/agent_persona.py
  backend/app/models/skill.py
  backend/app/routers/agents.py
  backend/app/routers/alerts.py
  backend/app/routers/hypotheses.py
  backend/app/routers/skills.py
  backend/app/schemas/agent_persona.py
  backend/app/schemas/skill.py
  backend/app/services/graph_service.py
  backend/app/services/query_executor.py
  backend/app/services/skill_service.py
  backend/app/services/user_project_service.py
Due: backend

style: fix remaining linting errors across backend
  backend/app/exporters/html.py
  backend/app/mcp/providers/commandcenter_prompts.py
  backend/app/mcp/providers/commandcenter_resources.py
  backend/app/models/ingestion_source.py
  backend/app/models/integration.py
  backend/app/models/job.py
  backend/app/models/knowledge_entry.py
  backend/app/models/project.py
  backend/app/models/research_task.py
  backend/app/models/schedule.py
  backend/app/models/webhook.py
  backend/app/routers/__init__.py
  backend/app/schemas/hypothesis.py
  backend/app/services/knowledgebeast_service_simple.py
  backend/app/services/webhook_service.py
Due: backend

feat(graph): Document Intelligence ingestion pipeline (#123)
  backend/.claude/sessions/2026-01-02-11-45-summary.md
  backend/alembic/versions/doc1nt3ll001_add_document_intelligence_entities.py
  backend/app/exporters/html.py
  backend/app/main.py
  backend/app/mcp/providers/commandcenter_prompts.py
  backend/app/mcp/providers/commandcenter_resources.py
  backend/app/models/agent_execution.py
  backend/app/models/agent_persona.py
  backend/app/models/graph.py
  backend/app/models/ingestion_source.py
  backend/app/models/integration.py
  backend/app/models/job.py
  backend/app/models/knowledge_entry.py
  backend/app/models/project.py
  backend/app/models/research_task.py
  backend/app/models/schedule.py
  backend/app/models/skill.py
  backend/app/models/webhook.py
  backend/app/routers/__init__.py
  backend/app/routers/agents.py
  backend/app/routers/alerts.py
  backend/app/routers/graph.py
  backend/app/routers/hypotheses.py
  backend/app/routers/skills.py
  backend/app/schemas/agent_persona.py
  backend/app/schemas/graph.py
  backend/app/schemas/hypothesis.py
  backend/app/schemas/skill.py
  backend/app/services/graph_service.py
  backend/app/services/knowledgebeast_service_simple.py
  backend/app/services/query_executor.py
  backend/app/services/skill_service.py
  backend/app/services/user_project_service.py
  backend/app/services/webhook_service.py
  backend/libs/agent_framework/__init__.py
  backend/libs/agent_framework/pipeline.py
  backend/libs/agent_framework/pipelines/document-intelligence.yaml
  backend/tests/integration/test_document_intelligence_ingest.py
  libs/knowledgebeast/knowledgebeast/templates/__init__.py
Due: backend

docs: update roadmap and document intelligence plan status
  docs/ROADMAP.md
  docs/plans/2026-01-01-document-intelligence-agents.md
Due: none

docs: mark Document Intelligence plan as complete
  docs/ROADMAP.md
  docs/plans/2026-01-01-document-intelligence-agents.md
Due: none

chore: add session wrap summary
  .claude/sessions/2026-01-02-21-30-summary.md
Due: none

feat(graph): add review queue and approval workflow for Document Intelligence
  backend/app/routers/graph.py
  backend/app/schemas/graph.py
  backend/app/services/graph_service.py
  frontend/src/components/Review/ConceptCard.tsx
  frontend/src/components/Review/RequirementCard.tsx
  frontend/src/components/Review/ReviewView.tsx
  frontend/src/hooks/useReviewQueue.ts
  frontend/src/types/review.ts
Due: backend, frontend

feat(frontend): wire up Review Queue route and API client
  frontend/src/App.tsx
  frontend/src/components/common/Sidebar.tsx
  frontend/src/services/api.ts
Due: frontend

feat(knowledge): add unified knowledge view with document CRUD
  backend/app/routers/graph.py
  backend/app/schemas/graph.py
  backend/app/services/graph_service.py
  frontend/src/App.tsx
  frontend/src/components/Knowledge/UnifiedKnowledgeView.tsx
  frontend/src/components/Knowledge/index.ts
  frontend/src/components/common/Sidebar.tsx
  frontend/src/hooks/useDocuments.ts
  frontend/src/services/api.ts
  frontend/src/types/documents.ts
Due: backend, frontend

feat(knowledge): add document upload and review queue tab
  frontend/src/components/Knowledge/UnifiedKnowledgeView.tsx
  frontend/src/hooks/useDocuments.ts
  frontend/src/services/api.ts
  frontend/src/types/documents.ts
Due: frontend

feat(knowledge): add staleness indicators to document list and detail
  frontend/src/components/Knowledge/UnifiedKnowledgeView.tsx
Due: frontend

refactor(knowledge): remove type field from upload modal
  frontend/src/components/Knowledge/UnifiedKnowledgeView.tsx
  frontend/src/types/documents.ts
Due: frontend

fix(api): make doc_type optional with default in CreateDocumentRequest
  backend/app/schemas/graph.py
Due: backend

docs(session): wrap session - knowledge view enhancements
  .claude/sessions/2026-01-02-18-15-summary.md
Due: none

Enhance create_app function docstring with detailed configuration information
  backend/app/main.py
Due: backend

test: verify git push works
  test-push-verification.txt
Due: none

docs(skills): add examples to repository-hygiene skill
  skills/repository-hygiene/SKILL.md
Due: none

docs(skills): add decision matrix to infrastructure-decisions skill
  skills/infrastructure-decisions/SKILL.md
Due: none

fix(agent-sandboxes): fix git push token injection in E2B sandboxes
  .claude/sessions/2026-01-02-23-20-summary.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/phase2/task-1-autonomy-skill.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/phase2/task-2-repo-hygiene-skill.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/phase2/task-3-infra-decisions-skill.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/test-git-push.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/verification-test-1.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/verification-test-2.md
  tools/agent-sandboxes/apps/sandbox_workflows/prompts/verification-test-3.md
  tools/agent-sandboxes/apps/sandbox_workflows/src/prompts/sandbox_fork_agent_system_prompt.md
Due: none

docs(skills): add examples to repository-hygiene skill (#124)
  skills/repository-hygiene/SKILL.md
Due: none

docs(skills): add decision matrix to infrastructure-decisions skill (#125)
  skills/infrastructure-decisions/SKILL.md
Due: none

docs(skills): add real-world examples to autonomy skill
  skills/autonomy/SKILL.md
Due: none

docs(skills): add decision tree and examples to context-management skill
  skills/context-management/SKILL.md
Due: none

Path conditions:
  backend: any of: backend/app/, but not: backend/tests/, frontend/src/__tests__/, e2e/tests/, **/*.test.ts, **/*.test.tsx, **/test_*.py
  frontend: any of: frontend/src/, but not: backend/tests/, frontend/src/__tests__/, e2e/tests/, **/*.test.ts, **/*.test.tsx, **/test_*.py
